<div class="container mt-5">
    @if(loadingData) {
        <div class="spinner-container">
            <mat-progress-spinner diameter="50" mode="indeterminate"></mat-progress-spinner>
        </div>
    }
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="checkbox">
            <mat-header-cell color="primary" *matHeaderCellDef>
                <mat-checkbox (change)="selectAll($event)" [checked]="isAllSelected()"></mat-checkbox>
                <button mat-icon-button (click)="loadTodos()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <button mat-icon-button (click)="openDialog()">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let newTodo">
                <mat-checkbox (click)="$event.stopPropagation()" [checked]="isSelected(newTodo)"
                    (change)="toggleSelection(newTodo)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let newTodo">{{ newTodo.title }}</mat-cell>
        </ng-container>
        <!-- Phone Number Column -->
        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
            <mat-cell *matCellDef="let newTodo">{{ newTodo.phoneNumber }}</mat-cell>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let newTodo">{{ newTodo.description }}</mat-cell>
        </ng-container>
        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
            <mat-cell *matCellDef="let newTodo">{{ newTodo.date | date: 'dd/MM/yyyy' }}</mat-cell>
        </ng-container>
        <!-- Update Button Column -->
        <ng-container matColumnDef="updateButton">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let newTodo">
                <button mat-mini-fab color="primary" [disabled]="!newTodo.completed" (click)="editTodo(newTodo)">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <!-- Delete Button Column -->
        <ng-container matColumnDef="deleteButton">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let newTodo">
                <button mat-mini-fab color="warn" [disabled]="!newTodo.completed" (click)="confirmDelete(newTodo.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- Pagination -->
    <mat-paginator [length]="todos.length" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 15]"
        (page)="onPageChange($event)">
    </mat-paginator>
</div>