.full-width {
    width: 100%;
    margin-right: 10px !important;
}

.input-group {
    display: flex;
    flex-direction: row;
}

mat-form-field.full-width {
    flex: 1;
}

.input-group button {
    display: inline-block;
    /* margin-left: 10px !important; */
    padding: 15px !important;
    min-height: 55px;
}

mat-header-cell {
    background-color: #3f51b5 !important;
    color: white !important; 
}

// mat-paginator{
//     background-color: #b93347 !important;
//     color: white !important; 
// }
.mat-sort-header-container {
    align-items: center;
    color: #ffff !important;
  }
  .mat-sort-header {
    color: #ffff !important;
  }