<div class="container card-details  mt-5">
    <mat-card class="course-card bg-dark text-white">
        @if(courseData){
        <div>
            <mat-card-header>
                <mat-card-title>
                    {{ (courseData.firstName | uppercase) + " " + (courseData.lastName | uppercase)}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img [src]="courseData.imgUrl" alt="Course Image" class="course-image">
                <p class="mt-3">{{ courseData.description | titlecase }}</p>
                <div>
                    <p>Course price: {{courseData.coursePrice | currency}}</p>
                    <p>{{courseData.experienceInTheField | titlecase}}</p>
                </div>
                <button mat-raised-button color="primary" routerLink="/courses-list">View Courses</button>
            </mat-card-content>
        </div>
        }@else {
        <ng-template>
            <div class="text-center fw-bold p-3">
                <app-page-not-found/>
            </div>
        </ng-template>
        }
    </mat-card>
</div>