@if(loadingData) {
<div class="spinner-container">
    <mat-progress-spinner diameter="50" mode="indeterminate"></mat-progress-spinner>
</div>
}
<mat-toolbar [color]="themeService.themeColor$ | async" class="mat-elevation-z4 custom-toolbar">
    <mat-toolbar-row>
        <div class="app-title">
            <!-- {{ 'APP_TITLE' | translate }} -->
            <button mat-icon-button routerLink="home" [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-button (click)="toggleLanguage()">
                <mat-icon style="color: #fff; font-size: 20px;">language</mat-icon>{{ 'SELECT_LANGUAGE' | translate }}
            </button>
        </div>
        <span class="spacer"></span>
        <div class="theme-selector d-inline">
            <mat-icon (click)="showThemes()" aria-hidden="false" aria-label="Example theme icon">brush</mat-icon>
            <ng-container *ngIf="showThemesColor">
              <button mat-button (click)="changeThemeColor('primary')"
                [class.selected]="selectedTheme === 'primary'">{{ 'THEME_PRIMARY' | translate }}</button>
              <button mat-button (click)="changeThemeColor('accent')"
                [class.selected]="selectedTheme === 'accent'">{{ 'THEME_ACCENT' | translate }}</button>
            </ng-container>
        </div>
        <div class="menu-icon">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="home" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                <mat-icon style="color: rgb(163, 1, 1);">home</mat-icon>{{ 'HOME' | translate }}
            </button>
            <button mat-menu-item routerLink="course-list" [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active">
                <mat-icon style="color: rgb(163, 1, 1);">list</mat-icon>{{ 'COURSES_LIST' | translate }}
            </button>
            <button mat-menu-item routerLink="auth" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                <mat-icon style="color: rgb(163, 1, 1);">account_circle</mat-icon>{{ 'ACCOUNT' | translate }}
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>