.custom-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.app-title {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}
.mat-icon  {
    margin-left: 15px;
    font-weight: bold;
    font-size: 1.5em;
}
.spacer {
    flex: 1;
}

.nav-button {
    margin: 0 8px;
    font-size: 1em;
    // color: white;
}
.theme-selector{
    width: 100px;
    height: 20px;
}
// .theme-selector-list{
// position: absolute;
// top: 20px;
// left: 50px;
// padding: 5px;
// background-color: black;
// }
