.custom-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-title {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}

.spacer {
    flex: 1;
}

.nav-button {
    margin: 0 8px;
    font-size: 1em;
}

.theme-selector {
    width: 200px;
    height: 20px;
}

mat-icon {
    font-size: 1.8rem;
}

.menu-icon {
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
