<div class="container">
    <h1>{{title}}</h1>

    @for(course of courses; track course.id; let index = $index;
    let count = $count; let first = $first; let last = $last; let odd = $odd; let even= $even){

    <input type="text" class="form-control mt-4" [value]="courses[index].firstName" #inputRef
        (keyup)="onKeyup(inputRef.value, index)">

    <p>{{fullNmae(course)}}</p>

    <app-course-card-component [index]="index" [count]="count" [course]="course" [class.first-course]="first"
        [class.last-course]="last" [class.odd-course]="odd" [class.even-course]="even"
        (ViowCourseEvent)="onCourseClicked($event, index)" />

    }@empty {
    <h2>No Courses Found!</h2>
    }

</div>

///==============================
<div class="container">
    <h1>{{title}}</h1>

    @for(course of courses; track trackCourse;){

    <input type="text" class="form-control mt-4" [value]="courses[$index].firstName" #inputRef
        (keyup)="onKeyup(inputRef.value, $index)" />
    <p>{{fullNmae(course)}}</p>

    <app-course-card-component [index]="$index" [count]="$count" [course]="course" [class.first-course]="$first"
        [class.last-course]="$last" [class.odd-course]="$odd" [class.even-course]="$even"
        (ViowCourseEvent)="onCourseClicked($event, $index)" />

    }@empty {
    <h2>No Courses Found!</h2>
    }
</div>