<script>
    data = {
        courseName: "Angular Core Course!",
        lessonName: "21- Angular Built-in Pipes Part 1 - Transforming Data Using Pipes",
        description: `in this video we will discuss the built in pipes provided by angular and how`,
        amount: "50.5670700005000800600030000",
        date: new Date(),
        total: 0.259,
        price: 10
    }
</script>

<h4>lowercase: {{data.courseName | lowercase}}</h4>
<h4>uppercase: {{data.lessonName | uppercase}}</h4>
<h4>titlecase: {{data.description | titlecase}}</h4>
<h4>: number{{data.amount | number:"3.1-5"}}</h4>
<h4>: number{{data.total | percent}}</h4>
<h4>: number{{data.price | currency: "EGP "}}</h4>
<h4>lowercase: {{data.courseName | slice:0-5}}</h4>
<h4>lowercase: {{data | json}}</h4>

@for (course of courses | keyvalue; track course._id) {
<li>key: {{course.key}}</li>
<li>value: {{course.value}}</li>
}

<h2 class="text-center date">Today: {{data.date | date:"dd - MM - YYYY "}}</h2>