<mat-card class="auth-card mt-5">
    <mat-card-header>
        <mat-card-title>{{ isLoginMode ? 'Login' : 'Register' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="username" type="email" placeholder="Enter your email">
                <mat-error *ngIf="authForm.get('username')?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="authForm.get('username')?.hasError('email')">
                    Invalid email format
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'"
                    placeholder="Enter your password">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="authForm.get('password')?.hasError('required')">
                    Password is required
                </mat-error>
                <mat-error *ngIf="authForm.get('password')?.hasError('minlength')">
                    Password must be at least 6 characters long
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="!isLoginMode" appearance="fill" class="full-width">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" [type]="hidePassword ? 'password' : 'text'"
                    placeholder="Confirm your password">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="authForm.hasError('mismatch')">
                    Passwords must match
                </mat-error>
                <mat-error *ngIf="authForm.get('confirmPassword')?.hasError('required')">
                    Confirmation password is required
                </mat-error>
                <mat-error *ngIf="authForm.get('confirmPassword')?.hasError('minlength')">
                    Confirmation password must be at least 6 characters long
                </mat-error>
            </mat-form-field>
            <div class="button-container">
                <button mat-raised-button color="primary" type="submit" [disabled]="authForm.invalid">
                    {{ isLoginMode ? 'Login' : 'Register' }}
                </button>
            </div>
        </form>
        <button mat-button style="color: rgb(87, 87, 240);" (click)="onSwitchMode()">
            {{ isLoginMode ? 'Switch to Register' : 'Switch to Login' }}
        </button>
        <div *ngIf="isLoginMode && loginError" class="login-error">{{ loginError }}</div>
    </mat-card-content>
</mat-card>