<mat-card class="course-card" [ngClass]="course.category === categoryType.beginners ? 'beginner' : 'advanced'" appDisableRightClick>
    <mat-card-content>
        <div class="card-header">
            <img [src]="course.imgUrl" alt="Course Image" class="course-image">
            <div>
                <h5 class="card-title">{{ course.firstName + " " + course.lastName }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ 'CARD_SUBTITLE' | translate }}</h6>
            </div>
        </div>
        <p class="card-text mb-2">{{ course.description | titlecase }}</p>
        <button mat-raised-button color="primary" class="card-link" (click)="editCourse(course)">{{ 'EDIT_COURSE' | translate }}</button>
        <button mat-raised-button color="accent" class="card-link" (click)="viewCourse(course)">{{ 'VIEW_COURSE' | translate }}</button>
        <button mat-raised-button color="warn" class="card-link" (click)="confirmDelete(course.id)">{{ 'DELETE_COURSE' | translate }}</button>
    </mat-card-content>
</mat-card>

