/* Import PrimeNG theme and styles */
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

/* Global styles */
html,
body {
    max-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    margin-top: 30px !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(235, 241, 246) !important;
    
}
.card-link {
    margin: 0 5px !important;
}
.course-card {
    padding: 1em;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
/* Header styles */
.nav-link {
    font-size: 17px !important;
    font-weight: bold !important;
}

/* Active link styles */
.spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
